.App {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .form-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%; /* Add this line */
    max-width: 400px; /* Set a max-width that applies to both the inputs and the buttons */
}
  
  input {
    margin: 0.5em 0;
    width: 100%;
    padding: 1em; /* Taller input fields */
    border: 1px solid #ddd;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  .auth-button {
    padding: em; /* Taller button */
    border: none;
    border-radius: 9px; /* More pronounced border radius */
    background-color: #007bff;
    color: white;
    text-transform: uppercase;
    cursor: pointer;
    width: auto; /* Make the button width auto */
    max-width: 800px; /* Maximum width of button */
    margin: 1em auto; /* Center the button with automatic margins */
  }


  /* Add this class to your SignIn button in your JSX */
.auth-button.sign-in {
  margin-bottom: 50px; /* Adjust the space as needed */
}



  .login-error {
    color: red;
    margin-top: 10px;
  }
  

  .register-invite {
    text-align: center;
    margin: 20px 0; /* Adjust the space as needed */
    color: #000000; /* Change the color as per your design */
    font-size: 1em; /* Adjust the font size as needed */
  }
  .welcome-title {
    text-align: center;
    color: #000000; /* Change color as needed */
    margin-bottom: 30px; /* Adjust bottom margin as needed */
    font-size: 1.5em; /* Adjust font size as needed */
    /* Add any additional styling you desire */
  }
  .page-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start; /* Align to the top */
    height: 100vh; /* Take full viewport height */
  }
  
  body {
    background: linear-gradient(to right, #d2800e, #089a36); /* Beautiful blue gradient */
}

.shopping-cart-image {
  position: absolute; /* or relative, depending on your layout */
  bottom: 0; /* Align the bottom edge of the image with the bottom edge of the container */
  right: 0; /* Align the right edge of the image with the right edge of the container */
  max-width: 80%; /* Ensure the image is responsive and does not overflow the screen width */
  max-height: 80%; 
}



